header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F7EE;
    color: #2E4057;

    h2{
        font-size: 25px;
        font-weight: 800;
    }

    img {
        width: 24px;
        height: 24px;
    }
}
